.DS_store
*.log
*.pyc
*.pkl
*.ipynb
*.egg*
tests/data/fastas
tests/data/bowtie2
tests/data/rainbow
tests/data/alignments
tests/data/fq1.10k.fq.*
tests/data/fq2.10k.fq.*
tests/data/*.bt2
tests/data/*.txt
tests/data/*RADnome*
tests/data/revs*
data/*
tests/data/data/*
tests/data/tmp/*